# if you add a file here, add it to `.npmignore` too
cache/
foundry-out/
broadcast/*/*/dry-run/*.json
broadcast/*/*/run-[0-9]*.json
.env
broadcast/
branch_structure.json
temp_auto_push.bat
temp_interactive_push.bat
.gitignore
